body {
  margin: 0;
  font-family: "fira mono", "system-ui";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@import url("https://fonts.googleapis.com/css2?family=Capriola&family=Fira+Mono:wght@400;500;700&display=swap");
